<%= form_with(model: applicant, class: 'row g-3') do |form| %>
  <% if applicant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
        <% applicant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-auto">
    <%= form.label :name, 'Nome', class: 'form-label' %>
    <%= form.text_field :name, class:'form-control' %>
  </div>

  <div class="col-auto">
    <%= form.label 'currículo', for:"curriculum", class: 'form-label' %>
    <%= form.file_field :curriculum, class:'form-control' %>
  </div>

  <div class="visually-hidden">
    <%= form.label :vacancy_id, 'Vaga' %>
    <%= form.text_field :vacancy_id %>
  </div>

  <div class="col-auto mb-4 mt-5">
    <%= form.submit "Candidatar-se", class:"btn btn-secondary btn-block" %>
  </div>
<% end %>
