<%= form_with(model: vacancy) do |form| %>
  <% if vacancy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vacancy.errors.count, "error") %> prohibited this vacancy from being saved:</h2>

      <ul>
        <% vacancy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
<div class="col">

  <div class="form-outline">
    <%= form.label :title, "Nome da Vaga", class: "form-label" %>
    <%= form.text_field :title, class:"form-control"  %>
  </div>

</div>
<div class="col">

  <div class="form-outline">
    <%= form.label :location, "Local da Vaga", class:"form-label" %>
    <%= form.text_field :location, class:"form-control" %>
  </div>

</div>
</div>

<hr />
  <div class="form-outline mb-4">
    <%= form.label :description, "Descrição da vaga", class:"form-label" %>
    <%= form.text_area :description, class:"form-control", rows:"8" %>
  </div>

<div class="row">
<div class="col">
  <div class="form-outline">
    <%= form.label :requirements, "Requisitos", class:"form-label" %>
    <%= form.text_field :requirements, class:"form-control" %>
  </div>
</div>
<div class="col">
  <div class="form-outline">
    <%= form.label :salary, "Salario", class:"form-label" %>
    <%= form.text_field :salary, class:"form-control" %>
  </div>
</div>
</div>
<hr />
  <div>
    <%= form.check_box :available, class:"form-check-label" %>
    <%= form.label :available, "Disponível", class:"form-label" %>
  </div>

  <div class="mt-2">
    <%= form.submit "Criar Vaga", class:"btn btn-secondary btn-block form-control" %>
  </div>
<% end %>
